<wc-data-table [value]="accountTree$ | async" [treeView]="true" selectionMode="single">
  <wc-data-column field="name" header="Name" columnWidth="2fr">
    <ng-template let-node="rowData">
      <a md-button color="accent" [disabled]="!!node.data.placeholder" [routerLink]="'/accounts/'+node.data.guid">{{node.data.name}}</a>
    </ng-template>
  </wc-data-column>
  <wc-data-column field="description" header="Description"></wc-data-column>
  <wc-data-column field="total" header="Total">
    <ng-template let-node="rowData">
      <wc-currency *ngIf="node.commodity" [amount]="node.total" [commodity]="node.commodity"></wc-currency>
    </ng-template>
  </wc-data-column>
  <wc-data-column field="reconciled" header="Reconciled"></wc-data-column>
  <wc-data-column field="lastReconcile" header="Last reconciled Date"></wc-data-column>
</wc-data-table>
