<p-treeTable [value]="accountTree$ | async" selectionMode="single" (onNodeSelect)="onAccountSelected($event)">
  <p-header>Accounts</p-header>
  <p-column field="name" header="Name"></p-column>
  <p-column field="description" header="Description"></p-column>
  <p-column field="total" header="Total">
    <ng-template let-node="rowData" pTemplate="body">
      <!--<wc-currency *ngIf="node.data.commodity" [amount]="node.data.total" [commodity]="node.data.commodity"></wc-currency>-->
    </ng-template>
  </p-column>
  <p-column field="reconciled" header="Reconciled"></p-column>
  <p-column field="lastReconcile" header="Last reconciled Date"></p-column>
</p-treeTable>
