@import "layout";
@import "theme";
:host {
  @include wc-flex-full(column);
}

md-sidenav-container {
  height: 100%;
}

md-sidenav {
  @include wc-flex-container();
  width: 216px;
  max-width: 320px;
}

wc-left-menu {
  @include wc-flex-child();
}

:host/deep/.mat-sidenav-content {
  @include wc-flex-container(column);
}

wc-workspace {
  @include wc-flex-child();
}
