@import "theme";
@import "layout";
$wc-menu-item-height: 48px;
$wc-menu-padding: 16px;
:host {
  padding-top: 8px;
}

.wc-menu-group {
  @include wc-font(medium);
  @include wc-flex-container(row, center);
  height: $wc-menu-item-height;
  padding: 0 $wc-menu-padding;
  text-transform: uppercase;
}

a {
  @include wc-flex-container(row, center);
  width: 100%;
  height: $wc-menu-item-height;
}

md-icon {
  color: mat-color($foreground, icon);
  vertical-align: text-bottom;
  &-active {
    color: mat-color($primary);
  }
}

.wc-menu-item {
  @include wc-font();
  &-active {
    color: mat-color($primary);
  }
}

.wc-menu-text {
  margin-left: 16px;
}

.wc-nav-divider {
  height: 1px;
  border-bottom: 1px solid mat-color($foreground, disabled);
  margin-top: 8px;
}
