@import 'colors';

:host {
		background-color: $menu-background-color;
	color: $menu-color;

	&-open{
		background-color: $menu-open-background-color;
	}
}

.wc-menu-group{
	padding: 20px 20px 10px 20px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.wc-menu-item{
	display: block;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	padding: 10px 20px;

	&:hover{
		background: $menu-open-background-color;

		i{
		color: rgb(255, 255, 255);
		}
	}

	i{
		color: rgba(255, 255, 255, 0.2);
	}

	&-active{
		color: rgb(255, 255, 255);
		i{
		color: rgb(255, 255, 255);
		}
	}
}

.wc-menu-text{
	margin-left: 5px;
}