<p-treeTable [value]="tree" selectionMode="single">
	<p-header>Basic</p-header>
	<p-column field="name" header="Name"></p-column>
	<p-column field="description" header="Description"></p-column>
	<p-column field="total" header="Total">
		<ng-template let-node="rowData" pTemplate="body">
			<wc-currency *ngIf="node.data.commodity" [amount]="node.data.total" [commodity]="node.data.commodity"></wc-currency>
			<!--<div class="wc-currency">{{node.data.total | currency:'INR':true:'4.2-2'}}</div>-->
		</ng-template>
	</p-column>
</p-treeTable>
