@import "theme";
$mat-data-table-header-height: 56px;
$mat-data-table-row-height: 48px;
$mat-data-table-padding: 12px;
header {
  color: mat-color($foreground, secondary-text);
  height: $mat-data-table-header-height;
}

.wc-header-cell,
.wc-cell {
  border-bottom: 1px solid mat-color($foreground, divider);
  padding: 0 $mat-data-table-padding;
}

.wc-cell {
  height: $mat-data-table-row-height;
}

.wc-first-cell {
  padding-left: 2 * $mat-data-table-padding;
}
