<header [style.grid-template-columns]="gridTemplateColumns">
  <div *ngFor="let column of dataColumns; let isFirst = first; let isLast = last" [ngClass]="{'wc-header-cell': true, 'wc-first-cell': isFirst, 'wc-last-cell': isLast}">{{column.header}}</div>
</header>
<perfect-scrollbar>
  <content [style.grid-template-columns]="gridTemplateColumns">
    <ng-container *ngFor="let item of data">
      <div *ngFor="let column of dataColumns; let isFirst = first; let isLast = last" [ngClass]="{'wc-cell': true, 'wc-first-cell': isFirst, 'wc-last-cell': isLast}">
        <div *ngIf="!column.template">{{item[column.field]}}</div>
        <ng-container *ngIf="column.template">
          <ng-container *ngTemplateOutlet="column.template; context: { rowData: item}"></ng-container>
        </ng-container>
      </div>
    </ng-container>
  </content>
</perfect-scrollbar>
