@import "layout";
@import "data-table.component.theme";
:host {
  @include wc-flex-container(column);
}

 :host /deep/ .mat-input-underline,
 :host /deep/ .mat-input-subscript-wrapper {
  display: none;
}

md-input-container {
  flex: 1;
}

header,
content {
  display: grid;
}

header {
  @include wc-font(medium);
}

perfect-scrollbar {
  @include wc-flex-child();
}

.wc-header-cell,
.wc-cell {
  @include wc-flex-container();
  align-items: center;
}

.wc-cell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
