<wc-data-table [value]="transactions">
	<wc-data-column field="date" header="Date" columnWidth="100px">
		<ng-template let-tx="rowData">
			<md-input-container>
				<input mdInput [mdDatepicker]="myDatepicker" [(ngModel)]="tx.date">
				<button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
			</md-input-container>
			<md-datepicker #myDatepicker></md-datepicker>
		</ng-template>
	</wc-data-column>
	<wc-data-column field="num" header="Num" columnWidth="40px"></wc-data-column>
	<wc-data-column field="description" header="Description" [editable]="true"> </wc-data-column>
	<wc-data-column field="transfer" header="Transfer" columnWidth="120px"></wc-data-column>
	<wc-data-column field="reconciled" header="R" columnWidth="20px"></wc-data-column>
	<wc-data-column header="Credit" columnWidth="90px">
		<ng-template let-tx="rowData">
			<div class="wc-number" *ngIf="tx.amount>0">{{tx.amount | number:'1.2-2'}}</div>
		</ng-template>
	</wc-data-column>
	<wc-data-column header="Debit" columnWidth="90px">
		<ng-template let-tx="rowData">
			<div class="wc-number" *ngIf="tx.amount<0">{{-tx.amount | number:'1.2-2'}}</div>
		</ng-template>
	</wc-data-column>
	<wc-data-column field="balance" header="Balance" columnWidth="90px">
		<ng-template let-tx="rowData">
			<div class="wc-number">{{tx.balance | number:'1.2-2'}}</div>
		</ng-template>
	</wc-data-column>
</wc-data-table>
