@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web:700|Inconsolata|Material+Icons');
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "theme";

@import 'colors';

html {
	@include wc-font();
	overflow: hidden;
}

body{
	margin: 0;
	display: flex;
	background-color: $background;
}

html, body {
	height: 100%;
}

.wc-top{
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	z-index: 2;
}

.wc-logo {
	@extend .wc-top;
	background-color: $menu-background-color;
}

.wc-top-menu{
	@extend .wc-top;

}
