@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Titillium+Web:700|Roboto+Mono|Material+Icons');
@import "theme";
html {
  @include wc-font();
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  cursor: default;
}

html,
body {
  height: 100%;
}

html {
  @extend .mat-typography;
  color: mat-color($foreground, text);
  background-color: mat-color($background, background);
}
