@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web:700|Roboto+Mono|Material+Icons');
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "theme";

@import 'colors';

html {
	@include wc-font();
	overflow: hidden;
}

body{
	margin: 0;
	display: flex;
	background-color: $background;
}

html, body {
	height: 100%;
}
